$color-block: #1D2024;
$dashboard-color: #18191D;
$btn-text: #42434B;
/* block-dashboard */
.block-dashboard{
  height: 100%;
  display: flex;

}
.block{
  margin: 20px 10px 0 10px;
  background: $color-block;
  border-radius: 2px;
}
.left-block{
  flex: 3 3 22%;
  padding-left: 20px;
  padding-right: 10px;
}
.right-block{
  justify-content: flex-end;
  flex: 1 1 5%;
  margin-right: 37px;
  div{
    min-width: 313px;
    width: 100%;
    margin: 20px 0 20px auto;
    background: $color-block;
    border-radius: 2px;
  }
}
.block-overview{
  min-width: 270px;
  width: 30%;
  background: $dashboard-color !important;
  button{
    font-family: Lato-Regular, serif;
    font-size: 16px;
    color: $btn-text;
    letter-spacing: 0.32px;
    text-align: center;
    background: no-repeat;
    border: none;
    padding-bottom: 20px;
  }
}
.data-overview{
  background: #2A2B31;
  border-radius: 2px;
  height: 240px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.transactions-block{
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  div:nth-child(1){
    flex: 3 3 11%;
    p:nth-child(1){
      font-family: SFNSDisplay, serif;
      font-size: 40px;
      color: #FFFFFF;
      letter-spacing: 0.34px;
    }
    p:nth-child(2){
      font-family: Lato-Regular, serif;
      font-size: 12px;
      color: #42434B;
      letter-spacing: 0.3px;
    }
  }
  div:nth-child(2){
    flex: 1 1 11%;
    width: 65px;
    height: 76px;
    background: #252529;
    border-radius: 2px;
    text-align: center;
    p:nth-child(1){
      font-family: SFNSDisplay, serif;
      font-size: 40px;
      color: #FFFFFF;
      letter-spacing: 0.3px;
      text-align: center;
    }
    p:nth-child(2){
      font-family: Lato-Regular, serif;
      font-size: 13px;
      color: #FFFFFF;
      letter-spacing: 0.3px;
      text-align: center;
    }
  }

}
.current-balance{
  padding-top: 10px;
  p:nth-child(1){
    font-family: Lato-Regular, serif;
    font-size: 12px;
    color: #606166;
    letter-spacing: 0.3px;
  }
  p:nth-child(2){
    font-family: AppleSystemUIFont, serif;
    font-size: 12px;
    color: #3A3C43;
    letter-spacing: 0.26px;
    float: right;
    padding-right: 45px;
  }
  p:nth-child(3){
    font-family: SFNSDisplay, serif;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0.33px;
  }
}
.buy-block{
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  div{
    display: flex;
    flex-direction: row;
    flex: 3 3 11%;
    p{
      font-family: AppleSystemUIFont, serif;
      font-size: 14px;
      letter-spacing: 0.4px;
    }
    p:nth-child(1){

      color: #FFFFFF;
    }
    p:nth-child(2){
      color: #A6D345;
    }
  }
  button{
    border: 2px solid #7AC231;
    border-radius: 60px;
    font-family: AppleSystemUIFont, serif;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.3px;
    text-align: center;
    width: 53px;
    height: 7px;
  }
}


.block-wallets{
  min-width: 620px;
  width: 66%;
  height: 300px;
}
.block-bitcoinChart{
  min-width: 655px;
  width: 70%;
  height: 300px;
}
.block-markets{
  min-width: 235px;
  width: 26%;
  height: 300px;
}


.block-transactions{
  height: 477px;

}
.block-news{
  height: 120px;
}