@import "color.scss";

/* block-dashboard */
.block-dashboard{
  height: 100%;
  display: flex;
}
.block{
  margin: 20px 10px 0 10px;
  background: $color-block;
  border-radius: 2px;
}
.left-block{
  flex: 3 3 22%;
  padding-left: 20px;
  padding-right: 10px;
}
.right-block{
  justify-content: flex-end;
  flex: 1 1 5%;
  margin-right: 37px;
  div{
    min-width: 313px;
    width: 100%;
    margin: 20px 0 20px auto;
    background: $color-block;
    border-radius: 2px;
  }
}
.block-overview{
  min-width: 270px;
  width: 29%;
  background: $dashboard-color !important;
  button{
    font-family: Lato-Regular, serif;
    font-size: 16px;
    color: $btn-text;
    letter-spacing: 0.32px;
    text-align: center;
    background: no-repeat;
    border: none;
    padding-bottom: 20px;
  }
}
.data-overview{
  background: $btn-hover;
  border-radius: 2px;
  height: 240px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.transactions-block{
  display: flex;
  flex-direction: row;
  color: $text-white;
  div:nth-child(1){
    flex: auto;
    p:nth-child(1){
      font-family: SFNSDisplay, serif;
      font-size: 40px;
      color: $text-white;
      letter-spacing: 0.34px;
    }
    p:nth-child(2){
      font-family: Lato-Regular, serif;
      font-size: 12px;
      color: $btn-text;
      letter-spacing: 0.3px;
    }
  }
  div:nth-child(2){
    flex: 1 1 11%;
    width: 65px;
    height: 76px;
    background: #252529;
    border-radius: 2px;
    text-align: center;
    p:nth-child(1){
      font-family: SFNSDisplay, serif;
      font-size: 40px;
      color: $text-white;
      letter-spacing: 0.3px;
      text-align: center;
    }
    p:nth-child(2){
      font-family: Lato-Regular, serif;
      font-size: 13px;
      color: $text-white;
      letter-spacing: 0.3px;
      text-align: center;
    }
  }

}
.current-balance{
  padding-top: 10px;
  p:nth-child(1){
    font-family: Lato-Regular, serif;
    font-size: 12px;
    color: #606166;
    letter-spacing: 0.3px;
  }
  p:nth-child(2){
    font-family: AppleSystemUIFont, serif;
    font-size: 12px;
    color: #3A3C43;
    letter-spacing: 0.26px;
    float: right;
    padding-right: 45px;
  }
  p:nth-child(3){
    font-family: SFNSDisplay, serif;
  font-size: 48px;
  color: $text-white;
  letter-spacing: 0.33px;
  }
}
.buy-block{
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  div{
    display: flex;
    flex-direction: row;
    flex: 3 3 11%;
    p{
      font-family: AppleSystemUIFont, serif;
      font-size: 14px;
      letter-spacing: 0.4px;
    }
    p:nth-child(1){

      color: $text-white;
    }
    p:nth-child(2){
      color: #A6D345;
    }
  }
  button{
    border: 2px solid #7AC231;
    border-radius: 60px;
    font-family: AppleSystemUIFont, serif;
    font-size: 12px;
    color: $text-white;
    letter-spacing: 0.3px;
    text-align: center;
    width: 53px;
    height: 7px;
  }
}


.block-wallets{
  min-width: 620px;
  width: 66%;
  background: $dashboard-color !important;
  .wallets-add{
    display: flex;
    flex-direction: row;
    p{
      font-family: Lato-Regular, serif;
      font-size: 16px;
      color: $text-white;
      letter-spacing: 0.3px;
      flex: auto;
    }
    button{
      background: no-repeat;
      border: none;
      padding-bottom: 30px;
      padding-right: 7px;
      font-family: AppleSystemUIFont, serif;
      font-size: 12px;
      color: #7AC231;
      letter-spacing: 0.3px;
      text-align: center;
    }
  }
  .wallets-values{
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    .currency-of-wallet-values{
      height: 111px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      div{
        border-radius: 2px;
      }
      .currency1{
        width: 200px;
        background: #7AC231;
        flex: auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
        div:nth-child(1){
          display: flex;
          flex-direction: row;
          p{
            font-family: Lato-Regular, serif;
            font-size: 12px;
            color: #65A028;
            letter-spacing: 0.26px;
            flex: 3;
            margin: 10px;
          }
          svg{
            padding: 5px;
            background: #65A028;
            border-radius: 2px;
            height: 30px;
            width: 30px;
            color: $text-white;
          }
        }
        div:nth-child(2){
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          p:nth-child(1){
            font-family: Lato-Regular, serif;
            font-size: 16px;
            color: $text-white;
            letter-spacing: 0.34px;
            margin: 10px;
            flex: 3;
          }
          p:nth-child(2){
            font-family: Lato-Regular, serif;
            font-size: 24px;
            color: $text-white;
            letter-spacing: 0.3px;
            width: 110px;
            text-align: right;
            margin-bottom: 10px;
          }
        }
      }
      .currency2{
        width: 120px;
        margin-left: 20px;
        padding: 10px;
        background: #1D2024;
        display: flex;
        flex-direction: column;
        div:nth-child(1){
          display: flex;
          flex-direction: row;
          p{
            font-family: Lato-Regular, serif;
            font-size: 12px;
            color: #3A3C43;
            letter-spacing: 0.26px;
            flex: 3;
            margin: 10px;
          }
          svg{
            padding: 5px;
            background: #3A3C43;
            border-radius: 2px;
            height: 30px;
            width: 30px;
            color: $text-white;
          }
        }
        .currency-name{
          font-family: Lato-Regular, serif;
          font-size: 16px;
          color: $text-white;
          letter-spacing: 0.34px;
          padding-top: 25px;
          padding-left: 10px;
        }

      }
    }
    .currency-of-wallet{
      display: flex;
      flex-direction: row;
      div{
        height: 148px;
        background: #222429;
        border-radius: 2px;
      }
      .currency-ratet{
        flex: auto;
        width: 269px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        div{
          height: 30px;
          display: flex;
          flex-direction: row;
          margin: 7px;
          svg:nth-child(1){
            padding-right: 20px;
            flex: 1;
            circle:nth-child(1){
              fill: #222429;
              stroke: #606166;
              stroke-width: 3px;
            }
            circle:nth-child(2){
               fill: #222429;
               stroke: #7AC231;
               stroke-width: 3px;
             }
          }
          p:nth-child(2){
            font-family: SFNSDisplay, serif;
            font-size: 26px;
            color: #FFFFFF;
            letter-spacing: 0.3px;
            padding: 3px;
            width: 50px;
            flex: 3;
          }
          p:nth-child(3){
            font-family: Lato-Regular, serif;
            font-size: 14px;
            color: #606166;
            letter-spacing: 0.3px;
            padding: 9px;
            width: 50px;
            flex: 3;
          }
          svg:nth-child(4){
            font-size: 16px;
            color: #606166;
            padding: 8px;
          }
        }

      }
      .currency-send{
        width: 330px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        div{
          flex-direction: row;
          margin: 10px;
          font-family: Lato-Regular, serif;
          font-size: 11px;
          color: $text-white;
          letter-spacing: 0.41px;
          display: table-cell;
          vertical-align: bottom;
          text-align: left;
        }
        div:nth-child(1){
          select{
            background: #3A3C43;
            border: none;
            width: 65px;
            height: 22px;
            margin: 0 30px 10px 10px;
            padding-top: 1px;
            font-family: AppleSystemUIFont, serif;
            font-size: 12px;
            color: $text-white;
            letter-spacing: 0.3px;
          }
          p{
            padding: 5px 10px;
            background: #3A3C43;
            border-radius: 2px;
            float: right;
          }
        }
        div:nth-child(2){
          input{
            background: #3A3C43;
            width: 75%;
            height: 29px;
            font-family: AppleSystemUIFont, serif;
            font-size: 12px;
            color: $text-white;
            letter-spacing: 0.3px;
            margin-left: 10px;
            border: none;
            padding-left: 10px;
          }
        }
        div:nth-child(3){
          font-family: Lato-Regular, serif;
          font-size: 12px;
          color: #606166;
          letter-spacing: 0.3px;
          text-align: center;
          flex: 3;
          button{
            border: 2px solid #3F4048;
            border-radius: 60px;
            width: 53px;
            height: 23px;
            font-family: Lato-Regular, serif;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0.3px;
            text-align: center;
            background: #222429;
            float: right;
          }
        }
      }
    }
  }
}


.block-bitcoinChart{
  min-width: 655px;
  width: 69%;
  height: 300px;
}
.block-markets{
  min-width: 235px;
  width: 26%;
  height: 300px;
}


.block-transactions{
  height: 477px;

}
.block-news{
  height: 120px;
}