@import "color.scss";
*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  background: $color-block;
}
.container{
  display: flex;
  height: 100%;
  //min-height: 775px;
}

/* Menu */
.block-menu{
  background: $color-block;
  position: relative;
  width: 90px;
}
.logo{
  background: url(../images/logo.png) no-repeat 0 0;
  background-size: contain;
  height: 30.5px;
  width: 26px;
  margin: 35px 32px;
}
.block-menu-items{
  padding-top: 29px;
  min-height: 485px;
  position: relative;
  background-size: contain;
  ul{
    list-style-type: none;
  }
  li{
    padding: 22px 0;
    background-size: contain;
    height: 15px;
    div{
      padding: 22px 0;
      background-size: contain;
      height: 20px;
      width: 20px;
      margin-left: 38px;

    }
  }
  li:hover {
    background-color: $btn-hover;
    div{
      filter: brightness(0) invert(1);
    }
  }
}
.btn-dashboard{
  background: url(../images/dashboard-icon.png) no-repeat;
}
.btn-balance{
  background: url(../images/balance-icon.png) no-repeat;
}
.btn-graphics{
  background: url(../images/graphics-icon.png) no-repeat;
}
.btn-calendar{
  background: url(../images/calendar-icon.png) no-repeat;
}
.btn-time{
  background: url(../images/time-icon.png) no-repeat;
}
.btn-calculator{
  background: url(../images/calculator-icon.png) no-repeat;
}
.btn-cost{
  background: url(../images/cost-icon.png) no-repeat;
}
.btn-settings{
  background: url(../images/settings-icon.png) no-repeat;
}

.block-chat{
  background: url(../images/chat.png) no-repeat;
  bottom: 0;
  position: absolute;
  background-size: contain;
  height: 34px;
  width: 34px;
  margin: 100px 32px 32px 32px;
}
.block-chat:hover {
  filter: invert(0.1);
}
/* Dashboard */
.block-main{
  background: $dashboard-color;
  font-size: 20px;
  flex-direction: column;
  display: flex;
  width: 100%;
  padding-bottom: 50px;
}
.flex-item {
  margin: 10px;
  padding: 5px;
}

/* Header */
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 10px;
}
.wrap {
  flex-wrap: wrap;
}
.name-page{
  font-family: SFNSDisplay, serif;
  font-size: 24px;
  color: $text-white;
  letter-spacing: 0.3px;
  text-align: center;
  padding: 21px 100px 0 14px;
  flex: none;
}
.search-container{
  width: 245px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  padding: 21px 0 0 14px;
  flex: 2;
  input{
    width: 245px;
    height: 35px;
    background: $btn-hover;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-family: AppleSystemUIFont, serif;
    font-size: 13px;
    letter-spacing: 0.3px;
    padding-left: 13px;
  }
  input::-webkit-input-placeholder {
    color: $btn-text;
  }
  input:-moz-placeholder {
    color: $btn-text;
  }
  input::-moz-placeholder {
    color: $btn-text;
  }
  input:-ms-input-placeholder {
    color: $btn-text;
  }
  span{
    margin-top: 3px;
    z-index: 1;
    color: $btn-text;
    right: 25px;
    position: relative;
  }
  svg{
    font-size: 15px;
  }
}
.support-container{
  width: 150px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  padding: 21px 0 0 14px;
  flex: 2;
  .btn-exclamation{
    width: 96px;
    height: 35px;
    background: $btn-hover;
    border: none;
    padding-left: 20px;
    color: $text-white;
    font-family: Lato-Regular, serif;
    font-size: 12px;
    letter-spacing: 0.3px;
    text-align: center;
  }
  .exclamation-icon{
    position: absolute;
    z-index: 1;
    color: $btn-text;
    left: 25px;
    .svg{
      font-size: 15px;
      color: $btn-text;
    }
  }
  .btn-plus{
    border: 2px solid $icon;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    background: $dashboard-color;
    color: $icon;
    font-family: Lato-Regular, serif;
    font-size: 35px;
    position: absolute;
    margin-left: 12px;
    p{
      height: 35px;
      margin-top: -12px;
    }
  }
}
.user-info-container {
  width: 150px;
  padding: 21px 37px 0 14px;
  flex-direction: row;
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.menu-user-info {
  padding-top: 8px;
  vertical-align: middle;
  font-size: 18px;
  color: $icon;
}
.user-icon{
  width: 200px;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  .user-name{
    width: 150px;
    padding-top: 10px;
    p{
      color: $text-white;
      font-family: Lato-Regular, serif;
      font-size: 14px;
      letter-spacing: 0.3px;
      text-align: center;
    }
  }
  svg{
    border: 2px solid $icon;
    width: 33px;
    height: 33px;
    color: $icon;
  }
}